[Unit]
Description = Cart Service

[Service]
User=roboshop
Environment=REDIS_HOST=redis-dev.kbdevops.online
Environment=REDIS_HOST=172.31.5.33
Environment=CATALOGUE_HOST=catalogue-dev.kbdevops.online
Environment=CATALOGUE_HOST=172.31.3.17
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target